---
import { getCollection } from "astro:content"
import BaseHead from "../components/BaseHead.astro"
import CarouselSection from "../components/CarouselSection.tsx"
import Footer from "../components/Footer.tsx"
import Header from "../components/Header.tsx"
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts"
import { CardSpotlightEffect } from "../components/CardSpotlightEffect"

const courses = (
	await getCollection("docs", doc => {
		return doc.id.split("/")[0] === "Courses"
	})
).sort(
	(a, b) =>
		//@ts-ignore
		b.data.lastUpdated - a.data.lastUpdated
)

const lessons = (
	await getCollection("docs", doc => {
		return doc.id.split("/")[0] === "Lessons"
	})
).sort(
	(a, b) =>
		//@ts-ignore
		b.data.lastUpdated - a.data.lastUpdated
)
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white dark:bg-black">
		<Header client:only />
		<!-- <Header title={SITE_TITLE} /> -->
		<main
			class="min-h-screen text-black bg-white vsc-initialized font-urbanist selection:text-primary dark:bg-black lg:pb-16 dark:text-white"
		>
			<section
				class="h-screen pt-24 mx-auto bg-center sm:pt-32 lg:mb-16 lg:pt-36"
			>
				<div
					class="mx-auto flex h-[calc(100vh-96px)] flex-col items-center justify-center gap-5 px-[70px] text-black -translate-y-24 relative px-4 dark:text-white sm:px-12 xl:max-w-6xl xl:px-0"
				>
					<div
						class="absolute px-4 sm:px-12 z-10 w-full h-full bg-white/[85%] dark:bg-black/[85%] top-24 flex flex-col gap-8 items-center justify-center text-center"
					>
						<h1
							class="text-3xl font-extrabold md:text-4xl lg:text-5xl xl:text-6xl"
						>
							Learn everything about us!
						</h1>
						<p class="text-sm md:text-base lg:text-lg">
							The practical guide to WebbsAI, with tutorials and
							the best resources.
						</p>
						<div
							class="flex flex-col justify-center w-full gap-5 sm:flex-row"
						>
							<a
								class="px-5 py-4 rounded-xl bg-[#2563EB] text-white hover:shadow-[0_0_2px_1px_rgba(150,150,150,1)] dark:hover:shadow-[inset_0_0_5px_1px_rgba(100,100,100,1)] transition-[box-shadow]"
								href="/courses">Get free courses</a
							>
							<a
								class="px-6 py-4 rounded-xl bg-white text-black dark:hover:shadow-[0_0_2px_1px_rgba(150,150,150,1)] hover:shadow-[inset_0_0_5px_1px_rgba(200,200,200,1)] transition-[box-shadow]"
								href="/resources">See Resources</a
							>
						</div>
					</div>
					<img
						src="/background-new.png"
						class="hidden max-h-full translate-y-24 dark:inline"
					/>
					<img
						src="/background-new.png"
						class="max-h-full translate-y-24 dark:hidden"
					/>
				</div>
			</section>

			<section class="mt-40">
				<div class="px-4 mx-auto sm:px-12 xl:max-w-7xl xl:px-0">
					<div class="flex flex-col">
						<div
							style={{
								borderWidth: "4px",
								borderStyle: "solid",
								borderImage:
									"linear-gradient(to right, #7C3AED, #00000000) 1",
								background:
									"linear-gradient(-76deg, rgba(21, 102, 192, 0.35) 0%, rgba(15, 18, 25, 0.00) 100%)",
								backgroundClip: "padding-box"
							}}
							class="flex w-full flex-col p-6 bg-[#EEEEEE] dark:bg-[#131313] md:p-8 lg:p-12"
						>
							<div class="flex flex-col gap-16 md:flex-row">
								<div class="flex flex-col justify-center gap-5">
									<h3
										class="font-semibold text-2g md:text-3xl lg:text-5xl"
									>
										Free WebbsAI Courses
									</h3>
									<p
										class="mt-2 text-base md:text-lg lg:text-xl"
									>
										Learn how to create stunning websites
										with ease by learning the fundamentals
										of WebbsAI.
									</p>
									<a
										href="/lessons"
										class="px-5 w-fit py-4 rounded-[18px] dark:bg-white bg-black text-white dark:text-black hover:shadow-[inset_0_0_5px_1px_rgba(200,200,200,1)] dark:hover:shadow-[inset_0_0_5px_1px_rgba(100,100,100,1)] transition-[box-shadow]"
										>Start Learning Now</a
									>
								</div>
								<div class="w-full h-full">
									<img
										src="/assets/toolboxes.svg"
										class="block w-full h-full m-auto"
									/>
								</div>
							</div>
						</div>

						<!-- <CardSpotlightEffect> -->
						<div class="flex flex-col gap-4 mt-4 md:flex-row">
							<div
								style={{
									borderImage:
										"linear-gradient(to left, #7C3AED, #00000000) 1"
								}}
								class="overflow-hidden flex w-full flex-col relative border-solid border-4 p-6 bg-[#EEEEEE] dark:bg-[#0F1219] md:w-2/5 md:p-8 lg:p-12"
							>
								<div
									class="absolute top-0 left-0 w-40 h-20 rounded-[20rem]"
									style="background: linear-gradient(131deg, rgba(21, 102, 192, 0.70) 15.42%, rgba(207, 120, 161, 0.70) 85.57%); filter: blur(85px);"
								>
								</div>
								<div>
									<h3
										class="text-lg font-semibold md:text-xl lg:text-2xl"
									>
										Getting Started
									</h3>
									<p
										class="mt-2 text-sm md:text-base lg:text-lg"
									>
										Learn how to create stunning websites
										with ease by learning the fundamentals
										of WebbsAI.
									</p>
								</div>
							</div>
							<div
								style={{
									borderWidth: "4px",
									borderStyle: "solid",
									borderImage:
										"linear-gradient(to left, #7C3AED, #00000000) 1"
								}}
								class="flex w-full flex-col p-6 bg-[#EEEEEE] dark:bg-[#0F1219] md:w-3/5 md:p-8 lg:p-12"
							>
								<div>
									<h3
										class="text-lg font-semibold md:text-xl lg:text-2xl"
									>
										Core Skills
									</h3>
									<p
										class="mt-2 text-sm md:text-base lg:text-lg"
									>
										Master responsive design, AI-powered
										visual editor, animations, interactions,
										prototyping and CMS integration
									</p>
								</div>
							</div>
						</div>
						<!-- </CardSpotlightEffect> -->

						<div class="flex flex-col gap-4 mt-4 md:flex-row">
							<div
								style={{
									borderWidth: "4px",
									borderStyle: "solid",
									borderImage:
										"linear-gradient(to right, #7C3AED, #00000000) 1"
								}}
								class="flex w-full flex-col p-6 bg-secondary-light dark:bg-gray-2 md:w-3/5 md:p-8 lg:p-12"
							>
								<div>
									<h3
										class="text-lg font-semibold md:text-xl lg:text-2xl"
									>
										Web Types
									</h3>
									<p
										class="mt-2 text-sm md:text-base lg:text-lg"
									>
										Gain effortless control of all CSS
										design properties with a single click
									</p>
								</div>
							</div>
							<a
								style={{
									borderWidth: "4px",
									borderStyle: "solid",
									borderImage:
										"linear-gradient(to right, #7C3AED, #00000000) 1"
								}}
								href="/resources"
								class="overflow-hidden relative flex w-full flex-col p-6 bg-secondary-light dark:bg-gray-2 md:w-2/5 md:p-8 lg:p-12"
							>
								<div
									class="absolute top-0 right-0 w-40 h-20 rounded-[20rem]"
									style="background: linear-gradient(131deg, rgba(21, 102, 192, 0.70) 15.42%, rgba(207, 120, 161, 0.70) 85.57%); filter: blur(85px);"
								>
								</div>
								<div>
									<h3
										class="text-lg font-semibold md:text-xl lg:text-2xl"
									>
										Resources
									</h3>
									<p
										class="mt-2 text-sm md:text-base lg:text-lg"
									>
										Find the best tutorials, articles, and
										other resources to help you learn
										WebbsAI.
									</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>

			<section class="mt-40">
				<div
					class="px-4 mx-auto flex flex-col items-center justify-center sm:px-12 xl:max-w-7xl xl:px-0"
				>
					<div
						class="flex flex-col items-center justify-center md:max-w-2xl lg:max-w-2xl xl:max-w-3xl gap-8"
					>
						<h2
							class="text-3xl font-bold text-center md:text-4xl lg:text-5xl xl:text-6xl"
						>
							All <span
								class="font-bold text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-transparent bg-gradient-to-r from-blue-700 to-purple-800 bg-clip-text"
								>Lessons</span
							>
						</h2>

						<p
							class="dark:text-white/60 text-center text-lg font-medium"
						>
							Learn from my bite-sized WebbsAI tutorials where I
							show you how to create stunning effects and
							animations on your websites.
						</p>
					</div>
					<div
						class="grid grid-cols-1 mt-16 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full"
					>
						{
							lessons?.length > 0 ? (
								lessons.slice(0, 3)?.map(lesson => (
									<a href={lesson.slug}>
										<div class="bg-[#EEEEEE] lg:max-w-md h-96 border-[1px] border-solid border-gray-300 border-opacity-[0.45] dark:bg-[#131313] flex flex-col rounded-2xl">
											<div class="overflow-hidden h-52">
												<div
													class="h-full w-full bg-cover bg-center bg-no-repeat rounded-tl-2xl rounded-tr-2xl"
													style={{
														backgroundImage: `url(${
															lesson.data.banner!
																.content as string
														})`
													}}
												/>
											</div>

											<div class="my-5 ml-5 mr-5 flex flex-col gap-4">
												<h3 class="text-base font-normal truncate md:text-lg lg:text-xl">
													{lesson.data.title}
												</h3>
												<p class="text-xs h-8 lg:text-xs text-black/70 dark:text-white/70 max-h-[80px] line-clamp-2">
													{lesson.data.description}
												</p>
											</div>

											<div class=" flex flex-col  ml-5 mr-14">
												<div class="flex justify-between">
													<p class="text-xs font-normal dark:text-white">
														Category
													</p>
													<p class="text-xs font-normal dark:text-white">
														Read time
													</p>
												</div>
												<div class="mt-3 flex justify-between mb-5">
													<p class="text-xs font-semibold dark:text-white">
														Getting Started
													</p>
													<p class="text-xs font-semibold dark:text-white">
														2 minutes
													</p>
												</div>
											</div>
										</div>
									</a>
								))
							) : (
								<h3 class="col-span-4 text-xl font-semibold text-center">
									Stay Tuned for the Upcoming Content
								</h3>
							)
						}
					</div>
				</div>
			</section>

			<section class="mt-40">
				<div
					class="px-4 mx-auto sm:px-12 xl:max-w-7xl xl:px-0 flex flex-col"
				>
					<div class="flex flex-col items-center justify-center">
						<h2
							class="text-3xl font-bold text-center md:text-4xl lg:text-5xl xl:text-6xl"
						>
							Get started with our<br /><span
								class="font-bold text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-transparent bg-gradient-to-r from-blue-700 to-purple-800 bg-clip-text"
								>WebbsAI video lessons</span
							>
						</h2>
						<p
							class="mt-8 text-sm font-medium xl:max-w-3xl text-center md:text-base lg:text-lg text-black/70 dark:text-white/70"
						>
							The website builder for everyone, from novices to
							pros. With our generative AI technology.
						</p>
					</div>
					<div class="mt-16">
						<CarouselSection lessons={lessons} client:only />
					</div>
				</div>
			</section>

			<section class="mt-40">
				<div class="px-4 mx-auto sm:px-12 xl:max-w-7xl xl:px-0">
					<h2
						class="text-3xl font-bold text-center md:text-4xl lg:text-5xl xl:text-6xl"
					>
						WebbsAI <span
							class="font-bold text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-transparent bg-gradient-to-r from-blue-700 to-purple-800 bg-clip-text"
							>Courses</span
						>
					</h2>
					<a
						href="/courses"
						class="flex items-center justify-center gap-4 mt-8 text-sm md:text-base lg:text-lg"
					>
						<span class="underline text-black/60 dark:text-white/60"
							>Explore All Courses</span
						>
					</a>
					<div
						class="grid grid-cols-1 mt-16 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full"
					>
						{
							courses?.length > 0 ? (
								courses.slice(0, 3)?.map(course => (
									<a href={course.slug}>
										<div class="bg-[#EEEEEE] lg:max-w-md h-96 border-[1px] border-solid border-gray-300 border-opacity-[0.45] dark:bg-[#131313] flex flex-col rounded-2xl">
											<div class="overflow-hidden h-52">
												<div
													class="h-full w-full bg-cover bg-center bg-no-repeat rounded-tl-2xl rounded-tr-2xl"
													style={{
														backgroundImage: `url(${
															course.data.banner!
																.content as string
														})`
													}}
												/>
											</div>

											<div class="my-5 ml-5 mr-5 flex flex-col gap-4">
												<h3 class="text-base font-normal truncate md:text-lg lg:text-xl">
													{course.data.title}
												</h3>
												<p class="text-xs h-8 lg:text-xs text-black/70 dark:text-white/70 max-h-[80px] line-clamp-2">
													{course.data.description}
												</p>
											</div>

											<div class=" flex flex-col  ml-5 mr-14">
												<div class="flex justify-between">
													<p class=" text-xs font-normal dark:text-white">
														Category
													</p>
													<p class=" text-xs font-normal dark:text-white">
														Read time
													</p>
												</div>
												<div class="mt-3 flex justify-between mb-5">
													<p class="text-xs font-semibold dark:text-white">
														Getting Started
													</p>
													<p class=" text-xs font-semibold dark:text-white">
														2 minutes
													</p>
												</div>
											</div>
										</div>
									</a>
								))
							) : (
								<h3 class="col-span-4 text-xl font-semibold text-center">
									Stay Tuned for the Upcoming Content
								</h3>
							)
						}
					</div>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
